[mysqld]
character-set-server=utf8mb4
explicit_defaults_for_timestamp=1
collation-server=utf8mb4_general_ci

#####################################################################
# MySQL8.0.4以降 のログイン認証方式は caching_sha2_password がデフォルト
# PHPのMySQL接続ライブラリが caching_sha2_password　に未対応のため接続不可
# 認証方式を mysql_native_password に戻す設定を加える
#####################################################################

default_authentication_plugin=mysql_native_password

[client]
default-character-set=utf8mb4
